@model IEnumerable<finel_project_mvc.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="jq_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Worker.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accept)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.taskID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.taskID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.taskID })
                </td>
            </tr>
        }
    </tbody>
</table>
