@model finel_project_mvc.Models.Worker



@{
    ViewBag.Title = "Index";
}

<h2>Log in</h2>

@using (Html.BeginForm("Index", "LogIn", FormMethod.Post))
{ 
    <table>
        <tr>
           <td>@Html.LabelFor(a=>a.email)</td> 
            <td>@Html.TextBoxFor(a=>a.email)</td>
            <td>@Html.ValidationMessage("Missing User name/Email")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.password)</td>
            <td>@Html.TextBoxFor(a => a.password)</td>
            <td>@Html.ValidationMessage("Missing User Password")</td>
        </tr>
    </table>

    <input type="submit" value="Login" />
}
