@model IEnumerable<finel_project_mvc.Models.Task>

    <h4>Worker Name - @ViewBag.WorkerFirstName @ViewBag.WorkerLastName:</h4>


<p>
    @Html.ActionLink("Create new password", "CreateNewPassword", new { id = ViewBag.WorkerId })
</p>

    @if (ViewBag.NonAcceptedTasks != 0)
    {
        
        <div id="worker_alert">
            <p id="worker_alert_text">
                @ViewBag.WorkerFirstName ,you have @ViewBag.NonAcceptedTasks new tasks.<br />please look on the tasks and approve it.<br />
            </p>
         </div>        

    }


    @if(ViewBag.Messages.Count != 0)
    {
        <div id="worker_messages">

            <p id="worker_messages_text">
                @Html.ActionLink("Show all messages", "ShowAllMessages", new { id = ViewBag.WorkerId })
            </p>

            <ul>
                @foreach (var message in ViewBag.Messages)
                {
                    if(message.nonRead == true)
                    {                     
                        <li>@message.message1</li>
                        @Html.ActionLink("Mark as read", "MarkMessageAsRead", new { id = message.messageID })
                    }
                }
            </ul>
        </div>
    }





    <table id="jq_table" class="stripe hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Worker.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.taskDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.accept)
                </th>

                <th></th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="task_row" id = "@item.status">
                    <td>
                        @Html.DisplayFor(modelItem => item.Worker.firstName)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accept)
                    </td>

                    <td>                       
                        <img/>
                    </td>

                    <td>
                        @Html.ActionLink("Question to manager", "QuestionToManager", new { id = item.taskID }) |
                        
                        @if (item.accept != 1)
                        {
                            @Html.ActionLink("Accept", "Accept", new { id = item.taskID }) <t>|</t>             
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.taskID }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>




