@model IEnumerable<finel_project_mvc.Models.Message>

@{
    ViewBag.Title = "ShowAllMessages";
}

<h2>INBOX:</h2>

<p>
    @Html.ActionLink("Back", "Index", new{ id = ViewBag.workerID})
</p>
<table id="jq_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Worker.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nonRead)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.message1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nonRead)
                </td>
                <td>
                    @if (item.nonRead == true)
                    {
                        @Html.ActionLink("Mark as read", "MarkMessageAsRead", new { id = item.messageID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
